header {
  margin-top: 0;
  display: inline-flex;
  width: 100%;
  border-bottom: solid 2px #223351;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(to right, #fff, #6DB3BF);
}
header p {
  font-family: Sawarabi Mincho;
}
main {
  height: 400px;
}
header img {
  height: 150px;
  opacity: .5;
}
svg {
  height: 80px;
  width: 20px;
  margin-right: 7px;
}
h1 {
  font-family: Cinzel;
  font-size: 4.5em;
}
h2 {
  font-family: Sawarabi Mincho;
}
form {
  margin-top: 25px;
}
label {
  font-family: Montserrat;
  font-size: 1.5em;
}
ul {
  padding-left: 0;
}
select {
  width: 100px;
  margin: 5px;
}
footer {
  background-color: #325D7F;
  color: #E7F2EA;
  height: 200px;
  border: solid 5px #3C5D5E;
}
footer ul {
}
select {
  align-self: flex-end;
}
a {
  text-decoration: none;
  color: inherit;
}

/*----CLASS SELECTORS------*/
.rotate {
  transform: rotate(90deg);
  transition: .5s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .5s;
}
.clickable{
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 1.75em;
  list-style: none;
  width: auto;
  margin-bottom: 5px;
  padding: 5px;
  border-top: solid 2px #243441;
  border-right: solid 2px #243441;
  border-bottom: solid 1px #243441;
  border-left: solid 5px #0468BF;
  background-color: #FFFDFA;
  box-shadow: 3px 3px grey;
}
.clickable button {
  align-self: flex-end;
}

/*----ID SELECTORS---*/
#menu {
  background-image: linear-gradient(to right, #fff, #6DB3BF);
}
#menu-div {
  display: flex;
  font-family: Lobster;
  font-size: 1.5em;
  margin-bottom: 0;
  background-image: linear-gradient(to right, #fff, #6DB3BF);
}
#menu-div p {
  flex-grow: 2
}
#menu-div svg:hover{
  cursor: pointer;
}
.menu-items {
  display: none;
}
.menu-items-view {
  display: none;
  background-color: #FFFDFA;
  position: sticky;
  left: 5px;
  top: 75px;
  width: 30%;
  border: solid 2px #6DB3BF;
  z-index: 1;
  box-shadow: 5px 5px 5px #67696E;
}
#menu-items {
}
#menu-items li {
  color: black;
  list-style: none;
  font-family: Montserrat;
  font-size: 1.25em;
  margin-left: 4px;
  padding: 2px;
}
#item {
  flex: 2 0 75%;
  align-self: flex-end;
  margin-bottom: 15px;
  margin-top: 0;
}
#item2 {
}
#item3 {
  margin-top: 0;
  flex-wrap: wrap;
}
#forms-div {
  float:left;
  width: 50%;
}
#forms-div li {
  list-style: none;
}
#p-div {
  flex-wrap: wrap;
}
#suggestion-div{
  float:right;
  width:50%;
}
#suggestion-ul {
  padding-left: 0;
  width: 80%;
}
#suggestion-ul p {
  /*display: none;*/
  font-family: Sawarabi Mincho;
}
#southern-links {
  float:left;
  width: 50%;
}
#southern-links li {
  list-style: none;
}
#other-links {
  float: right;
  width: 50%;
}
#other-links ul {
}
#other-links li {
  list-style: none;
}
#solution-content-div{
  display: none;
  background: #FFF;
  color: #fff;
  position: fixed;
  height: auto;
  width: auto;
  top: 20%;
  left: 13%;
  z-index: 2;
  box-shadow: 5px 5px 5px #67696E;
  border: solid 2px #243441;
}
#solution-content-div p {
  font-family: Sawarabi Mincho;
  font-size: 1.25em;
  color: black;
  margin: 5px;
  padding: 5px;
}
.solution-close {
  border-radius: 40%;
  background-color: #FF5D4E;
  position: fixed;
  top: 75px;
  left: 135px;
}
